.bcard-1 {
  max-width: 288px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  .cardHeader {
    padding: 74px 16px 0;
    .name {
      font-size: 22px;
      text-align: left;
      color: $white;
      margin-bottom: 10px;
      span {
        color: #03bff6;
      }
    }
    .designation {
      color: #fff;
      color: $white;
    }
  }

  .cardFooter {
    ul {
      padding: 200px 34px 0;
      padding-right: 0;

      li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        span {
          flex: 1;
          font-size: 12px;
          text-align: left;
          color: #000;
        }
        i {
          width: 17.67px;
          height: 17.67px;
          margin-right: 8px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: #03bff6;
        }
        &.dark {
          i {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
  }
}

.bcard-2 {
  position: relative;
  width: 304.92px;
  min-height: 504px;
  background-image: url(../images/card2.svg) !important;
  background-repeat: no-repeat;
  background-position: top center;
  .cardHeader {
    position: relative;
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardFooter {
    padding: 50px 15px;
    ul {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        i {
          min-width: 36.49px;
          height: 40.69px;
          margin-right: 7.7px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: $white;
          background-image: url(../images/hexagon.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          svg {
            width: 18px;
            height: 18px;
          }
        }
        span {
          flex: 1;
          font-size: 22px;
          text-align: left;
          color: $white;
          padding: 5px 0;
          position: relative;
          &:after {
            content: "";
            width: 100%;
            height: 1.91px;
            background-color: #1f1f1f;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          &:before {
            content: "";
            width: 19.35px;
            height: 3.06px;
            background-image: url(../images/shape.svg);
            background-position: right center;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 5;
          }
        }
      }
    }
  }
}

.card-main {
  .cardHeader {
    min-height: 50px;
    @extend .d-flex, .align-items-center;
    flex-wrap: wrap;
    h3 {
      margin-bottom: 0;
    }
  }
  .headerCTA {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .employeCTA {
      @extend .d-flex, .align-items-center;
      margin: 0 5px;
      margin-right: 25px;
      li {
        padding: 0 5px;
        .btn {
          padding: 0 10px;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      width: 100%;
      margin-top: 15px;
      margin-left: 0;
      .tabs-link {
        margin-left: auto;
        justify-content: center;
      }
    }

    @include media-breakpoint-down(lg) {
      .tabs-link {
        width: 100%;
        margin-top: 15px;
      }
    }
  }
}

.card-user {
  @include border-radius(25px);
  border: 1px solid $white;
  @extend .filter-primary;
  padding: 15px;
  .media {
    .avatar {
      width: 65px;
      height: 65px;
      background-color: #d9d2cf;
      text-align: center;
      border-radius: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $pink-100;
      font-size: 18px;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .media-body {
      padding-left: 15px;
      h3 {
        @include Poppins(700);
        font-size: $font18;
        text-align: left;
        color: $black;
        margin: 0 0 6px;
      }
      p {
        font-size: $font14;
        text-align: left;
        color: $black;
        line-height: 18px;
        word-break: break-all;
      }
      .email {
        display: flex;
        margin-top: 20px;
        i {
          font-style: normal;
          font-size: $font16;
          color: $text-gray;
          line-height: 16px;
          display: inline-flex;
        }
        span {
          padding-left: 16px;
          font-size: $font16;
          line-height: 16px;
          color: $black;
          word-break: break-all;
        }
      }
    }
  }

  .card-user-footer {
    @extend .d-flex, .align-items-center, .flex-wrap, .flex-column;
    margin-top: 48px;
    ul {
      @extend .d-flex, .align-items-center, .flex-wrap, .flex-row;
      margin: 0 -7.5px;
      li {
        padding: 0 7.5px;
        .btn {
          min-width: 76px;
          height: 28px;
          font-style: 16px;
          padding: 0;
          @include border-radius(5px);
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}

.media {
  display: flex;
  .media-body {
    flex: 1;
  }
}

.card-filter {
  [class*="col-"] {
    margin-top: 30px;
  }
  .card-user {
    height: 100%;
  }
}

.designation-cards {
  display: flex;
  align-items: center;
  padding: 15px 0;
  .brand {
    width: 62px;
    height: 62px;
    background: #eee;
    @include border-radius(50%);
    img {
      width: 100%;
      height: 100%;
      object-position: center;
     object-fit: cover;
      @include border-radius(50%);
    }
  }
  .media-body {
    flex: 1;
    padding: 0 10px;
    h4 {
      @include Poppins(500);
      font-size: $font18;
      text-align: left;
      color: $black;
      margin-bottom: 5px;
    }
    p {
      @include Poppins(400);
      font-size: 16px;
      text-align: left;
      color: $text-gray-90;
      margin: 0;
    }
  }
  a {
    color: $black;
    i {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.editField {
  max-width:1000px;
  background: rgba(0, 0, 0, 0.05);
  @extend .filter-primary;
  transition: background 0.3s;
  border-radius: 20px;
  padding:30px  40px;
  
}

.dragElement {
  display: flex;
  align-items: center;
  position: absolute;
  span {
    margin: 0 8px;
    img {
      width: 28px;
    }
  }
}
.card-list {
  --gap: 1em;
  --columns: 4;
  display: column;
  columns: var(--columns);
  gap: var(--gap);
  .bc-main {
    width: 100%;
    .react-draggable {
      div{
        white-space: pre  !important;
      }
    }
  img {
    width: 100%;
  }
}
}
.card-list > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}
@supports (grid-template-rows: masonry) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense; /* align-tracks: stretch; */
  }
  .card-list > * {
    margin-bottom: 0em;
  }
}
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}




.cardFields{
  background: rgba(0, 0, 0, 0.05);
  transition: background 0.3s;
  border-radius: 20px ;
  padding: 20px;
}



.editcard{
  display: flex;
  flex-wrap: wrap;
  li{
    flex: 1;
    margin: 0;
    padding: 0;
  }
  .bcard-1{
    max-width: 360px;
    img{
      width: 100%;
    }

  }
}